body {
  background-image: url("../pictures/pexels-julia-volk-5273517.jpg");
  padding: 20px;
  background-size: 1400px 1400px;
}

.menu {
  background-color: burlywood;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  max-width: 500px;
  padding: 20px;
}

h1,
h2,
.established {
  text-align: center;
}
